<header class="m-10 font-bold text-7xl text-center text-blue-200">
  <h1 class="text-center mx-auto md:w-2/3">
    Aplicación <span class="text-orange-500">TODO</span>
  </h1>
</header>
<section class="container mx-auto mt-14 grid grid-cols-2 gap-8">
  <!-- Formulario -->
  <div>
    <form
      [formGroup]="peopleForm"
      class="bg-white shadow-md rounded-lg py-10 px-5 mb-10"
      (ngSubmit)="onSave()"
    >
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Nombre
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="nombre"
          type="text"
          placeholder="Nombre"
          formControlName="name"
        />
        <div
          *ngIf="
            peopleForm.controls['name'].touched &&
            peopleForm.controls['name'].hasError('required')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            Campo requerido
          </p>
        </div>
        <div
          *ngIf="
            peopleForm.controls['name'].touched &&
            peopleForm.controls['name'].hasError('minlength')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            El nombre debe contener al menos 5 caracteres
          </p>
        </div>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Apellido
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="apellido"
          type="text"
          placeholder="Apellido"
          formControlName="lastname"
        />
        <div
          *ngIf="
            peopleForm.controls['lastname'].touched &&
            peopleForm.controls['lastname'].hasError('required')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            Campo requerido
          </p>
        </div>
        <div
          *ngIf="
            peopleForm.controls['lastname'].touched &&
            peopleForm.controls['lastname'].hasError('minlength')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            El apellido debe contener al menos 5 caracteres
          </p>
        </div>
      </div>

      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Telefono
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="telefono"
          type="tel"
          placeholder="Telefono"
          formControlName="cellphone"
        />

        <div
          *ngIf="
            peopleForm.controls['cellphone'].touched &&
            peopleForm.controls['cellphone'].hasError('required')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            Campo requerido
          </p>
        </div>
        <div
          *ngIf="
            peopleForm.controls['cellphone'].touched &&
            peopleForm.controls['cellphone'].hasError('minlength')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            El numero de telefono debe contener al menos 8 digitos
          </p>
        </div>
      </div>
      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Resumen de tu persona
        </label>
        <textarea
          formControlName="description"
          name=""
          id=""
          rows="2"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
        </textarea>
        <div
          *ngIf="
            peopleForm.controls['description'].touched &&
            peopleForm.controls['description'].hasError('required')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            Campo requerido
          </p>
        </div>
        <div
          *ngIf="
            peopleForm.controls['description'].touched &&
            peopleForm.controls['description'].hasError('minlength')
          "
        >
          <p class="mt-1 bg-red-600 font-medium text-white rounded">
            Tu descripcion debe contener al menos 20 letras
          </p>
        </div>
      </div>

      <div class="grid grid-cols-1">
        <button
          class="mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Registrar
        </button>
        <button
          (click)="onInformation()"
          class="bg-amber-400 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          Informacion
        </button>
      </div>
    </form>
  </div>

  <!-- Table -->
  <section class="rounded-lg overflow-scroll max-h-screen">
    <div class="bg-white shadow-2xl px-5 py-10 mb-5" *ngFor="let item of $list">
      <p class="font-bold mb-3 text-gray-700 uppercase">
        Nombre:<span class="font-normal normal-case"> {{ item.name }} </span>
      </p>
      <p class="font-bold mb-3 text-gray-700 uppercase">
        Apellido:<span class="font-normal normal-case">
          {{ item.lastname }}
        </span>
      </p>
      <p class="font-bold mb-3 text-gray-700 uppercase">
        Telefono:<span class="font-normal normal-case">
          {{ item.cellphone }}
        </span>
      </p>

      <p class="font-bold mb-3 text-gray-700 uppercase">
        Descripcion:<span class="font-normal normal-case">
          {{ item.description }}
        </span>
      </p>
    </div>
  </section>
</section>
